/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Color palette inspired by Envoy Proxy and flowc brand */
:root {
  --ifm-color-primary: #667eea;
  --ifm-color-primary-dark: #4d5fd9;
  --ifm-color-primary-darker: #3f51d4;
  --ifm-color-primary-darkest: #2f3cb0;
  --ifm-color-primary-light: #8094ee;
  --ifm-color-primary-lighter: #94a5f1;
  --ifm-color-primary-lightest: #bcc5f6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(102, 126, 234, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8094ee;
  --ifm-color-primary-dark: #667eea;
  --ifm-color-primary-darker: #5a71e8;
  --ifm-color-primary-darkest: #3f51d4;
  --ifm-color-primary-light: #94a5f1;
  --ifm-color-primary-lighter: #a8b6f3;
  --ifm-color-primary-lightest: #bcc5f6;
  --docusaurus-highlighted-code-line-bg: rgba(128, 148, 238, 0.2);
}

.navbar__logo img {
  height: 160%;
  margin-top: -10px;
}